/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
    position: relative;
    color: black;
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #fff;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.ms-DetailsRow
{
  background-color: rgba(132, 130, 127, 0.72) !important;
  color:white;
}

.ms-DetailsRow:hover
{
  background-color: #adabab !important;
  color:black;
}

.is-contentUnselectable{
  color: #fffdfd;
  font-size: large;
}
.is-contentUnselectable:hover{
  color: #ece7e7;
}
.ms-CommandBar{
  background-color: transparent;
  color:white;
}
.is-selected{
  background-color: #F60 !important;
  color: white !important;
}

.ms-Button--commandBar{
  color:white;
  font-weight: bold;
  background-color: transparent;
}
.ms-Button--commandBar:hover{
  color:white;
  font-weight: bold;
  background-color: transparent;
}

.ms-Button-menuIcon{
  color: white !important;
}
.ms-Button-menuIcon:hover{
  background-color: transparent !important;
}
